.Authentication {
}

.authenticationBox {
	width: 500px;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	background: #fff;
	border-radius: 5px;
}

.authenticationBackground {
	/*background: #91d1c2;*/
	background: #3c5488;
	width: 100%;
	height: 100%;
	position: absolute;
}

.loginLogo {
	width: 180px;
	margin: auto;
	margin-left: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input.large {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

button.large {
	background: #00a087;
	color: #fff;
	border: 1px solid #008973;
	margin-top: 10px !important;
	margin-left: 0px !important;
	padding: 7px;
}

.errorMessage {
	background: #e64b35;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 10px;
}

.errorMessage a {
	color: #fff;
}
