.StatusBar {
}

.statusBar {
	padding: 8px;
	/*background: #7e6148;*/
	background: #47645c;
	color: #fff;
	font-weight: bold;
	/*add gradient*/
	/*
	#e64b35
	#4dbbd5
	#b09c85
	#7e6148
	*/
}

.statusBar a {
	color: #fff;
	padding-left: 5px;
}

.statusBar a:hover {
	color: #fff;
	text-decoration: overline;
}
