.Tiering {
}

.tieringBox {
	margin: auto;
	background: #fff;
	width: 1000px;
	padding: 30px;
	border-radius: 5px;
	margin-top: 50px;
	/*border: 1px solid #ccc;*/
	box-shadow: 0px 0px 50px #ddd;
}

.tieringBox h1 {
	font-size: 16pt;
}

.trioBox {
  background: #eee;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.trioBox label {
  margin-left: 5px;
  font-weight: bold;
}

.tieringInput {
    font-size: 13pt;
    width: 100%;
    padding: 5px;
    outline: none;
    /*border: 1px solid #999;*/
    background: #eee;
    border: none;
    padding: 7px;
    border-radius: 3px;
}

.info {
    padding-bottom: 10px;
    color: #555;
    font-size: 9pt;
}

.Loader {
    padding: 6px;
    font-size: 13pt;
    color: #555;
}

.searchResult {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

.isoform:hover {
}

.searchResults {
    max-height: 290px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.hpoTermBadge {
    background: #8491b4;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px;
    font-size: 9pt;
    display: inline;
}

.panelBadge {
    background: #3c5488;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px;
    font-size: 9pt;
    display: inline;
}

.tieringSelected {
    display: inline-block;
    background: #ddd;
    padding: 5px;
    border-radius: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.tieringRight {
    width: 100%;
    display: block;
    text-align: right;
}

.tierBox {
    display: inline;
}

.tier {
    background: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
    font-size: 9pt;
    display: inline;
    margin: 2px;
    cursor: pointer;
}

.tier:hover {
  opacity: 0.8;
}

.PSV {
    background: darkred;
}

.PS {
    background: red;
}

.PM {
    background: orange;
}

.PP {
    background: #e6c95b;
}

.BA {
    background: darkgreen;
}

.BS {
    background: green;
}

.BP {
    background: lightgreen;
}

.LargeLoader {
    width: 100%;
    text-align: center;
    color: #555;
    font-size: 13pt;
}

.tieringResult {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resultName {
    width: 50%;
    display: inline-block;
    cursor: pointer;
}

.resultTiers {
    width: 50%;
    text-align: right;
    display: inline-block;
}

.smallInlineBox {
  display: inline-block;
  padding: 3px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  margin-left: 3px;
  font-size: 10px;
}

.note {
	font-size: 8pt;
	font-style: italic;
}

.hidden {
  display: none;
}

.isoform {
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.thin {
  width: 800px !important;
  margin-left: calc(50% - 400px) !important;
}

.article {
  padding: 50px;
}

.hidden {
  display: nine;
}

.tierExplanation {
    padding: 20px;
    background: #f5f5f5;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.tierTitle {
  font-size: 14pt;
}

.tierCheckMark {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.classificationBox {
  display: inline;
  border-left: 1px solid #ddd;
  margin-left: 10px;
}

.classification {
    background: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 9pt;
    display: inline;
    margin: 2px;
    cursor: pointer;
    margin-left: 10px;
}

.classification:hover {
  opacity: 0.8;
}

.pathogenic {
  background: darkred;
}

.likely_pathogenic {
  background: red;
}

.likely_benign {
  background: green;
}

.benign {
  background: darkgreen;
}

.uncertain_significance {
  background: #999;
}